ConsumirServicioWCF/Connected Services/ServiceMedicamento/Medicamentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Medicamentos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.27.96.1:8081/Medicamentos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.27.96.1:8081/Medicamentos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.27.96.1:8081/Medicamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedicamentos_listarMedicamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarMedicamentos" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_listarMedicamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarMedicamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_listarFormaFarmaceutica_InputMessage">
    <wsdl:part name="parameters" element="tns:listarFormaFarmaceutica" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_listarFormaFarmaceutica_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarFormaFarmaceuticaResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_recuperarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:recuperarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_recuperarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:recuperarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_registrarYactualizarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarYactualizarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_registrarYactualizarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarYactualizarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_eliminarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_eliminarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedicamentos">
    <wsdl:operation name="listarMedicamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/listarMedicamentos" message="tns:IMedicamentos_listarMedicamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/listarMedicamentosResponse" message="tns:IMedicamentos_listarMedicamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarFormaFarmaceutica">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/listarFormaFarmaceutica" message="tns:IMedicamentos_listarFormaFarmaceutica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/listarFormaFarmaceuticaResponse" message="tns:IMedicamentos_listarFormaFarmaceutica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recuperarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/recuperarMedicamento" message="tns:IMedicamentos_recuperarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/recuperarMedicamentoResponse" message="tns:IMedicamentos_recuperarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarYactualizarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/registrarYactualizarMedicamento" message="tns:IMedicamentos_registrarYactualizarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/registrarYactualizarMedicamentoResponse" message="tns:IMedicamentos_registrarYactualizarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/eliminarMedicamento" message="tns:IMedicamentos_eliminarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/eliminarMedicamentoResponse" message="tns:IMedicamentos_eliminarMedicamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMedicamentos" type="tns:IMedicamentos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarMedicamentos">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/listarMedicamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFormaFarmaceutica">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/listarFormaFarmaceutica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recuperarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/recuperarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarYactualizarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/registrarYactualizarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/eliminarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Medicamentos">
    <wsdl:port name="BasicHttpBinding_IMedicamentos" binding="tns:BasicHttpBinding_IMedicamentos">
      <soap:address location="http://172.27.96.1:8081/Medicamentos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>