ConsumirServicioWCF/Connected Services/ServiceMedicamento/Medicamentos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.27.96.1:8081/Medicamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" />
  <xs:element name="listarMedicamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMedicamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="listarMedicamentosResult" nillable="true" type="q1:ArrayOfMedicamentoCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarFormaFarmaceutica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarFormaFarmaceuticaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="listarFormaFarmaceuticaResult" nillable="true" type="q2:ArrayOfFormaFarmaceuticaCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iidMedicamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recuperarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="recuperarMedicamentoResult" nillable="true" type="q3:MedicamentoCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarYactualizarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" minOccurs="0" name="oMedicamentoCLS" nillable="true" type="q4:MedicamentoCLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarYactualizarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarYactualizarMedicamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMedicamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iidMedicamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMedicamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarMedicamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>